*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

.header{
    background: #635854;
    padding: 12px 0;
    border-bottom:4px solid #3596F5  ;
}
.navbar {
    max-width: 1260px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link {
}
.navbar_menu{
    margin: 0;
    padding: 0;
}
.navbar_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_item {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}
.navbar_link {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.navbar_contacts{
    text-align: right;
}
.navbar_contacts span {
    
}
.navbar_text{
    display: block;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 4px;
}
.navbar_phone {
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.main {
    display: flex;
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 54px;
}
.main_img {
    
}
.home_img path{
    opacity: 0;
    cursor: pointer;
}
.home_img path:hover{
    opacity: 1;
}
path.current-floor{
    opacity: 1;
}
.main_info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding-top: 68px; */
    align-items: center;
    justify-content: space-around;
}
.main_title {
    font-family: "Bebas",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #635854;
}
.counter_group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter_button{
    background-color: #fff;
    
}
.arrow-down{
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}
.counter {
    font-size: 124px;
    font-family: Bebas,sans-serif;
    color: #635854;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 35px;
}
.button_primary{
    background: #3596F5;
    border-radius: 6px;
    padding: 16px 34px;
    color:#fff;
    cursor: pointer;
    font-size:16px;
    font-family: Roboto,sans-serif;
}