@font-face {
    font-family: 'Bebas';
    src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
        url('BebasNeueCyrillic.woff2') format('woff2'),
        url('BebasNeueCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

